<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>To Do List</title>
</head>
<body>
<h1>투두리스트</h1>
<!-- 새 항목 추가 폼 -->
<form th:action="@{/todo/create}" method="post">
    <label>
        <input name="content" placeholder="오늘의 할 일을 적어보세요!" style="width: 300px; padding: 10px; font-size: 16px;"/>
    </label>
    <button style="padding: 10px 20px; font-size: 16px;">작성</button>
</form>

<!-- 투두 리스트 테이블 -->
<table>
    <thead>
    <tr>
        <th>번호</th>
        <th>할 일</th>
        <th>수행 여부</th>
        <th>삭제</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="todoEntity : ${toDoEntityList}">
        <td th:text="${todoEntity.id}"></td>
        <td th:text="${todoEntity.content}"></td>
        <!-- 수행 여부를 체크박스로 표시 -->
        <td>
            <label>
                <input type="checkbox" th:checked="${todoEntity.completed}"
                       onclick="updateStatus([[${todoEntity.id}]], this.checked)">
            </label>
        </td>
        <!-- 삭제 버튼 -->
        <td>
            <button th:onclick="'deleteItem(' + ${todoEntity.id} + ')'">삭제</button>
        </td>

    </tr>
    </tbody>
</table>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    function deleteItem(id) {
        const url = `/todo/delete/${id}`;

        $.ajax({
            type: 'DELETE',
            url: url,
            contentType: 'application/json; charset=utf-8'
        }).done(function () {
            alert('할 일이 삭제되었습니다.');
            window.location.reload(); // 새로고침
        }).fail(function (error) {
            alert('삭제 실패: ' + JSON.stringify(error));
        });
    }

    function updateStatus(id, completed) {
        const url = `/todo/update/${id}`;
        const data = JSON.stringify({ completed: completed });

        $.ajax({
            type: 'PUT',
            url: url,
            data: data,
            contentType: 'application/json; charset=utf-8'
        }).done(function () {
            alert('수행 여부가 업데이트되었습니다.');
        }).fail(function (error) {
            alert('업데이트 실패: ' + JSON.stringify(error));
        });
    }
</script>
</html>
